.App {
  position: relative;
  text-align: center;
  color: #333;
  border: 1px solid #aaa;
  background: #fafff4;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
}
.App .logout {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  font-family: "iconfont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.5;
}
.App .logout:hover {
  opacity: 1;
}
.App .logout:after {
  content: "\e671";
  font-size: 20px;
  vertical-align: middle;
  color: red;
  cursor: pointer;
}
.App h1 {
  color: rgba(0, 76, 255, 0.69);
}
#root {
  background: #f0efe9;
}
.todoList > li:nth-child(odd) {
  background-color: rgba(255, 229, 229, 0.7);
}
.todoList > li:nth-child(even) {
  background: rgba(181, 255, 183, 0.7);
}
.clock {
  position: absolute;
  top: 1em;
  color: #000000;
  font-size: small;
}
