.UserDialog-Wrapper {
  /*全屏*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*内容居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0efe9;
}
.UserDialog {
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: #fafff4;
  border: 1px solid #aaa;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.52);
}
.UserDialog nav {
  display: flex;
  justify-content: center;
}
.UserDialog nav input {
  display: none;
}
.UserDialog nav.checked {
  color: red;
}
.UserDialog nav label.checked {
  color: red;
  font-weight: bold;
}
@font-face {
  font-family: 'iconfont';
  /* project id 440476 */
  src: url('//at.alicdn.com/t/font_440476_zt361rcge7firudi.eot');
  src: url('//at.alicdn.com/t/font_440476_zt361rcge7firudi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_440476_zt361rcge7firudi.woff') format('woff'), url('//at.alicdn.com/t/font_440476_zt361rcge7firudi.ttf') format('truetype'), url('//at.alicdn.com/t/font_440476_zt361rcge7firudi.svg#iconfont') format('svg');
}
.UserDialog .signInOrSignUp > nav:first-child {
  padding: 1em;
  margin-left: -2em;
}
.UserDialog .signInOrSignUp > nav:first-child label {
  margin-left: 2em;
  cursor: pointer;
}
.UserDialog .signInOrSignUp > .panes {
  padding: 0 1em 1em;
}
.UserDialog .forgotPassword > h3 {
  padding: 1em;
}
.UserDialog .forgotPassword > form {
  padding: 0 1em 1em;
}
.UserDialog form > .row {
  display: flex;
  padding: .3em 0;
}
.UserDialog form > .row .status {
  font-family: "iconfont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.UserDialog form > .row .wrong:after {
  content: "\e671";
  font-size: 20px;
  vertical-align: middle;
  padding: 10px;
  color: red;
}
.UserDialog form > .row > label:first-child {
  width: 4em;
}
.UserDialog form > .row.actions {
  padding-left: 7em;
  display: flex;
  align-items: center;
}
.UserDialog form > .row.actions a {
  font-size: small;
  text-decoration: none;
  margin: 0.8em 0 0 1em;
}
.UserDialog form > .row.actions a:hover {
  color: red;
}
.forgotPassword form > .row.actions {
  padding-left: 5em;
}
.UserDialog form > .row.actions button {
  margin-right: .5em;
}
.UserDialog button {
  font: inherit;
  padding: .3em 0.5em;
  border-width: 0;
  border-radius: 3px;
}
.UserDialog button:hover {
  background-color: #5080d8;
  color: #ffffff;
}
